.button{
    color: white;
    background-color: orange;

    width: 200px;
    height: 50px;

    border-radius: 10px;

    border-style: none;

    font-size: 15px;
    font-weight: 600;

    transition: 0.4s;
}

.button:hover{
    background-color: rgb(252, 126, 9);

    font-size: 18px;
    font-weight: 600;
    
    cursor: pointer;
}