*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    color: white;
    background-color: orange;

    width: 200px;
    height: 50px;

    border-radius: 10px;

    border-style: none;

    font-size: 15px;
    font-weight: 600;

    transition: 0.4s;
}

.button:hover{
    background-color: rgb(252, 126, 9);

    font-size: 18px;
    font-weight: 600;
    
    cursor: pointer;
}

.submit{
    background-color: white;
    padding: 20px 80px;

    border: 0;
    border: 2px solid royalblue;
    border-radius: 25px;

    font-size: 16px;
    font-weight: 700;
    text-transform: lowercase;

    color: royalblue;
    cursor: pointer;

    transition: .3s ease;
}

.submit:hover{
    background-color: royalblue;

    color: white;
}

.send{
    border: 0;
    padding: 10px 50px;
    border-radius: 10px;
    background: linear-gradient(45deg ,black 60%, rgb(219, 214, 214));
    color: white;

    font-family: sans-serif;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 700;
    transition: .3s ease;
}

[data-tooltip]{
    position: relative;
    
}

[data-tooltip]:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    color: gray;

    font-size: 10px;
    font-weight: 400;
}