@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body{
    margin: 0;
}

.topnav{
    background-color: gray;

    padding: 0 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.topnav-title{
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-weight: 800;
}

.topnav-image{
    width: 70px;
}

.topnav-list{
    list-style-type: none;

    display: flex;
    flex-direction: row;
    
}

.topnav-list a{
    color: white;
    padding: 20px;

    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

    transition: 0.4s;
}   

.topnav-list a:hover{
    border-bottom: 5px solid black;
}