@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh
}

.campo-form{
    width: 300px;
    height: 50px;


    border-radius: 10px;
    padding: 0 10px;

    display: flex;

    background-color: darkgray;
}

.input-texto{
    height: 100%;
    flex: 1;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    border-width: 0 0 3px;
    background: none;
    outline: 0;

    transition: 0.4s ease;
}

.input-texto:focus{
    border-color: darkmagenta;
    border-width: 0 0 4px;
}