*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 100px;
}

//Escondendo o input "original"
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}    

input[type="checkbox"] + label{
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    font-family: monospace;
}

input[type="checkbox"] + label::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    vertical-align: bottom;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

input[type="checkbox"]:checked + label::after{
    content: '';
    position: absolute;
    left: 5px;
    width: 6px;
    height: 12px;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    transform: rotate(45deg);
}