@import url('https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap');
@import 'variables';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    font-family: $font-stack;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menutop{
    &__title{
        font-size: 90px;
        margin-bottom: 10px;
        font-weight: 700;
        color: #ffad73;
        position: relative;
        display: inline-block;

        &::before{
            content: attr(data-item);
            position: absolute;
            color: $titleColor;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            width: 0%;
            transition: all 1s ease-out
        }

    &:hover{
        &::before{
            width: 100%;
        }
    }
    }

    nav{
        background: $navBgColor;
        padding: 16px;
        border-radius: 10px;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li{
                margin: 10px;
                a{
                    text-decoration: none;
                    font-size: 30px;
                    font-weight: 700;
                    color: $navItemColor;
                    position: relative;

                    &::before{
                        content: attr(data-item);
                        position: absolute;
                        color: #206a5d;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        overflow: hidden;
                        transition: all .3s ease;
                    }

                    &:hover{
                        &::before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}