body{
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading{
    width: 100px;
    height: 100px;
    border: 6px solid black;
    border-top: 6px solid gray;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgb(139, 139, 139);
    animation: spinning 2s infinite linear;
}

@keyframes spinning{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}