*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

table{
    width: 40vw;
    text-align: left;
    border-collapse: collapse;

    caption{
        font-size: 20px;
    }

    td, th{
        padding: 8px;
        border: 1px solid black;
        background: rgb(219, 219, 219);
    }

    th{
        background: gray;
    }
}