@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    font-family: 'Open Sans', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

main{

}