*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}

table{
    width: 40vw;
    text-align: left;
    border-collapse: collapse;
}

table caption{
    font-size: 20px;
}

table, td, th{
    border: 1px solid black;
    
}

td, th{
    padding: 8px;
}

th{
    font-size: 18px;
}

td{
    background-color: lightgray;
}
